#buyukbaslik {
    font-size: 50px;
    color: cadetblue;
    font-family: 'Shizuru', cursive;
}
#ortabaslik {
    font-size: 35px;
    color: cadetblue;
    font-family: 'Shizuru', cursive;
}
#paragrafyazi {
    color: blue;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
}
p {
    color: brown;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
}

ul {
    color:chocolate;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
}
h4 {
    color:rgba(0, 240, 248, 0.603);
    font-size: 25px;
}